run = "python start_bot_directly.py"
hidden = ["venv", ".config", "**/__pycache__", "**/.mypy_cache", "**/*.pyc"]
modules = ["postgresql-16", "python-3.11", "nodejs-20"]

[interpreter]
command = ["python3", "-u", "main.py"]

[nix]
channel = "stable-23_11"

[languages]

[languages.python3]
pattern = "**/*.py"

[env]
PATH = "${PATH}:${HOME}/workspace/.pythonlibs/bin"
PYTHONPATH = "${PYTHONPATH}:${HOME}/workspace"

[deployment]
run = ["sh", "-c", "python run_webapp.py"]
deploymentTarget = "gce"

[webview]
path = "/"
port = 5000

[[ports]]
localPort = 5000
externalPort = 80

[workflows]
runButton = "Bot Runner"

[[workflows.workflow]]
name = "Bot Runner"
author = 41797496
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 start_bot_directly.py"
